{% extends 'main/base.html' %}

{% block title %}
О предприятии — ОПП "Омский ЛИЦ НИИ Атмосфера"
{% endblock %}

{% block content %}
<div class="text_header">
    <h2>О предприятии</h2>
</div>
<p><strong>Информация о деятельности и профильных компетенциях АО «НИИ Атмосфера»</strong></p>
<p>В 1992 году на базе Санкт-Петербургского отделения Всесоюзного научно-исследовательского института охраны природы
    (ВНИИ Природы) создан ФГУП «Научно-исследовательский институт охраны атмосферного воздуха» (НИИ Атмосфера).
    Коллектив института сложился ещё раньше, как подразделение Главной геофизической обсерватории им. А.И. Воейкова
    (ГГО).</p>
<p>НИИ Атмосфера долгое время являлся научным учреждением, подведомственным Минприроды России, Федеральной службе по
    экологическому, технологическому и атомному надзору (Ростехнадзора). В 2009 году ФГУП «НИИ Атмосфера» было
    преобразовано в открытое акционерное общество в соответствии с Прогнозным Планом приватизации федерального
    имущества на 2008 год (распоряжение Правительства РФ № 543-р от 29.04.2007 г.)</p>
<p>В соответствии с распоряжением ТУ Росимущества в г. Санкт – Петербурге № 16-р от 23.01.2015 г. ОАО «НИИ
    Атмосфера» переименовано в АО «НИИ Атмосфера» и является полным правопреемником ФГУП «НИИ Атмосфера».</p>
<p>Общая численность сотрудников АО «НИИ Атмосфера» составляет 110 человек, из которых 57 человек работают в
    обособленном производственном подразделении – лабораторном измерительном центре в г. Омске, 53 человека работают
    в научно-исследовательских подразделениях института.</p>
<p>Более 75% сотрудников имеют высшее образование, из них 8 кандидатов наук (2 географических, 2 химических, 3
    технических, 1 физико-математических). 3 человека имеют звание «Заслуженный эколог Российской Федерации». За
    свою работу многие сотрудники награждены грамотами Ростехнадзора, Министерства природных ресурсов и экологии РФ,
    Министерства природных ресурсов и экологии Мурманской области, имеют благодарности Комитета по
    природопользованию, охране окружающей среды и обеспечения экологической безопасности Правительства
    Санкт-Петербурга.</p>
<p>Авторский коллектив НИИ Атмосфера имеет Диплом за выдающиеся научные работы в области географии, врученный Ученым
    Советом Русского Географического Общества.</p>
<p>Предприятие награждено Почетной Грамотой Правительства Санкт-Петербурга «За большой вклад в дело обеспечения
    единой методологии в системе природоохранной деятельности, развитие нормативной базы Санкт-Петербурга в области
    охраны атмосферного воздуха и в связи с 15-летием со дня образования».</p>
<p>В 2016 г. АО «НИИ Атмосфера» награждено медалью «100 лучших экологических организации в России» Российским
    Экологическим клубом за высокую компетенцию и деловую активность по направлениям природоохранной деятельности в
    России.</p>
<p>В состав команды Института АО «НИИ Атмосфера» входит 5 экспертов, аттестованных по требованиям Федеральной службы
    по надзору в сфере природопользования и её Департамента по Северо-Западному федеральному округу. Вплоть до 2022
    года, срока действия аттестатов, эти сотрудники допущены и привлекаются к мероприятиям в рамках экспертиз
    Росприроднадзора при осуществлении государственного надзора за природопользователями в области охраны
    атмосферного воздуха. Соответствующие навыки и знания экспертов Института позволяют эффективно проводить
    подготовку персонала предприятий и организаций к таким экспертизам и проверкам исходя из формальных
    экологических требований и практик осуществления соответствующих мероприятий надзорным органом.</p>
<p>Институт и его представители также входят в следующие экспертные и рабочие группы:</p>
<ul style="padding-left: revert;">
    <li>подгруппу «Снижение выбросов загрязняющих веществ в атмосферный воздух», сформированную решением рабочей
        группы Государственного Совета Российской Федерации;
    </li>
    <li>Научно-технический совет Министерства природных ресурсов и экологии Российской Федерации;</li>
    <li>Рабочую группу по формированию сводных расчетов Министерства природных ресурсов и экологии Российской
        Федерации;
    </li>
    <li>Рабочую группы по разработке проектов нормативных правовых актов, необходимых для проведения эксперимента по
        квотированию выбросов загрязняющих веществ на основе сводных расчетов загрязнения атмосферного воздуха
        Министерства природных ресурсов и экологии Российской Федерации.
    </li>
</ul>
<br>
<p>При непосредственном участии специалистов АО «НИИ Атмосфера» разработано более 300 тематических документов,
    включая разнообразные нормативно-правовые акты, методические рекомендации, регламенты. Из документов
    федерального уровня ключевыми можно считать:</p>
<ul style="padding-left: revert;">
    <li>Административный регламент Федеральной службы по надзору в сфере природопользования по исполнению
        государственной функции по контролю и надзору за соблюдением в пределах своей компетенции требований
        законодательства Российской Федерации в области охраны атмосферного воздуха, утвержденного приказом
        Минприроды РФ от 31.10.2008 № 300.
    </li>
    <li>Административный регламент Федеральной службы по надзору в сфере природопользования по исполнению
        государственной функции по осуществлению федерального государственного контроля в области охраны окружающей
        среды, утвержденного приказом Минприроды России от 26.07.2010 № 282.
    </li>
</ul>
<br>
<p>«Методическое пособие по расчету, нормированию и контролю выбросов», а также «Методическое пособие по
    аналитическому контролю выбросов загрязняющих веществ в атмосферу», являющиеся основными методическими
    документами, рекомендованными к применению на территории Российской Федерации, также разработаны и обновляются
    специалистами АО «НИИ Атмосфера».</p>
<p>Институт ведёт активную работу в части адаптации системы природоохранного регулирования к перспективным
    требованиям в части внедрения наилучших доступных технологий. Так в работе Технического комитета «Наилучшие
    доступные технологии» (ТК 113) участвует четверо специалистов организации. Кроме того, АО «НИИ Атмосфера»
    участвует в работе Технических комитетов по стандартизации «Охрана окружающей природной среды» (ТК 409) и
    «Качество воздуха» (ТК 457), в котором выполняет функции по ведению дел секретариата.</p>
<p>Передовым направлением деятельности АО «НИИ Атмосфера» является исследование, инвентаризация, расчет рассеивания
    и оценка уровней воздействия запахов. Институт одним из первых в России поднял вопрос о необходимости
    стандартизации нормативов и регулирования запахов на основе имеющегося международного опыта. Межгосударственный
    стандарт ГОСТ 32673-2014 «Правила установления нормативов и контроля выбросов дурнопахнущих веществ в
    атмосферу», разработанный специалистами Института, стал важной вехой на пути к полноценному регулированию запаха
    в России.</p>
<p>Первая полноценная ольфактометрическая лаборатория (лаборатория оценки запахов) в России также функционирует на
    базе АО «НИИ Атмосфера». Она укомплектована стационарным и переносным немецким,&nbsp; американским и канадским
    оборудованием, и имеет в своём составе квалифицированный персонал с международным опытом оценки запаха,
    обученный его измерению в соответствии с требованиями Европейского стандарта по ольфактометрии EN 13725-2003 и
    межгосударственным стандартом ГОСТ 32673-2014. За 10 лет работы по этому направлению было выполнено более 15
    работ по комплексной оценке выбросов запахов, определения их источников, разработке мероприятий для предприятий
    по снижения выбросов пахнущих веществ в пищевой промышленности, ЖКХ, сельском хозяйстве, дорожном
    строительстве.</p>
<p>На основании методического, регулятивного и промышленного опыта специалисты АО «НИИ Атмосфера» оказывают широкий
    спектр экспертных и консультационных услуг при решении спорных вопросов и судебных разбирательств по
    административным и уголовным делам в отношении природопользователей.</p>
<p>С целью постоянной актуализации исследовательской и методической деятельности в 2007 году АО «НИИ Атмосфера» был
    создан и ведёт свою работу Методический Совет по нормативно-правовому обеспечению охраны атмосферного воздуха.
    Состав Совета формируется из числа представителей федеральных органов законодательной и исполнительной власти,
    органов власти субъектов Российской Федерации, научных и общественных организаций, бизнес-структур и
    специалистов в области охраны атмосферного воздуха, включая ведущих специалистов АО «НИИ Атмосфера», участвующих
    в совершенствовании нормативной правовой и нормативно-методической базы воздухоохранной деятельности.</p>
<p>В настоящее время в состав Методического совета входит 45 человек. Совет осуществляет свою деятельность на
    общественных началах и безвозмездной основе.</p>
<p>АО «НИИ Атмосфера», как российская научно-исследовательская и методическая организация, признан и на
    международном уровне.</p>
<p>С 1990-х годов Институтом оказывается экспертная поддержка Министерству природных ресурсов и экологии Российской
    Федерации в части исполнения национальных обязательств по таким многосторонним соглашениям как Конвенция о
    трансграничном загрязнении воздуха на большие расстояния Европейской Экономической Комиссии ООН, Венская
    конвенция об охране озонового слоя, Минаматская конвенция о ртути. В частности, в рамках государственного заказа
    разрабатываются национальные отчёты по выбросам загрязняющих веществ, которые представляются в органы ООН.
    Ведётся также исследовательская работа по оценке антропогенного загрязнения окружающей среды и трансграничного
    переноса ртути, чёрного углерода и других загрязнителей в международном контексте с фокусом на Арктике и
    Северо-Восточной Азии. В частности, Институтом разработан первый в истории кадастр загрязнения Арктической зоны
    Российской Федерации «чёрным углеродом» (сажей). В 2015 году данный кадастр в виде национального доклада был
    представлен Арктическому Совету наравне с докладами других стран.</p>
<p>С учётом уникального опыта специалисты Института включены в экспертный пул Европейской Экономической Комиссии
    ООН, являются членами экспертных групп Программы ООН по окружающей среде и Социальной и Экономической комиссии
    ООН для Азиатско-тихоокеанского региона.</p>
<p>Кроме того, представители Института по согласованию с Министерством иностранных дел России или, в некоторых
    случаях, по постановлению Правительства России, являются членами делегаций Российской Федерации на различных
    международных совещаниях, конференциях, форумах, оказывая научно-методическую и техническую поддержку
    официальным лицам.</p>
<p>В течение многих лет АО «НИИ Атмосфера» проводит ежегодные международные экологические Конгрессы «Атмосфера»,
    которые являются важной площадкой для обмена мнениями и выработки стратегий решения воздухоохранных задач.</p>
<p>В работе Конгрессов традиционно принимают участие с докладами: представители федеральных органов исполнительной
    власти, включая:</p>
<ul style="padding-left: revert;">
    <li>Министерство природных ресурсов и экологии Российской Федерации,</li>
    <li>Росприроднадзор и Росгидромет,</li>
    <li>Роспотребнадзор,</li>
    <li>органов исполнительной и законодательной власти субъектов Российской Федерации в области охраны окружающей
        среды,
    </li>
    <li>экологических служб крупных промышленных компаний,</li>
    <li>ведущих научно-исследовательских и экспертных организаций.</li>
</ul>
<br>
<p>Данное мероприятие завоевало авторитет как среди российских профессионалов — экологов, так и зарубежных.</p>
<p>Обобщая опыт работ АО «НИИ Атмосфера», следует отметить, что за 27 лет работы Институт приобрёл репутацию
    надёжного и уважаемого партнёра. Имея необходимые сертификаты и лицензии, включая членство в саморегулируемой
    организации Ассоциация проектных организаций «Союзпетрострой-Проект», аккредитованный сертификат соответствия
    интегрированной системы менеджмента требованиям МС ИСО 9001, ИСО 14001 и OHSAS 18001, а также лицензию
    Федеральной службы по гидрометеорологии и мониторингу окружающей среды, Институт развивает различные направления
    работ в области охраны атмосферного воздуха на российском и международном уровнях. Эффективность и
    востребованность работы отражается в следующих цифрах:</p>
<ul style="padding-left: revert;">
    <li>услугами института в области проектирования и решения воздухоохранных вопросов воспользовались свыше 100
        крупнейших предприятий Российской Федерации, Казахстана и Белоруссии;
    </li>
    <li>за последние 11 лет Институтом было реализовано более 10 международных проектов в партнёрстве с рядом
        организаций системы ООН, ведущими зарубежными агентствами и исследовательскими учреждениями;
    </li>
    <li>более 20 специалистов Института ежегодно принимают участие в российских и международных конференциях и
        семинарах, повышают квалификацию сторонних специалистов и свою собственную.
    </li>
</ul>
<br>
<p>Мы открыты к сотрудничеству и готовы решать самые сложные и многофакторные задачи, которые поставят перед нами
    наши клиенты.</p>
{% endblock %}
