{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Охрана атмосферного воздуха — ОПП "Омский ЛИЦ НИИ Атмосфера"
{% endblock %}

{% block content %}
&nbsp;
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'training' %}">Учебный центр</a></li>
    <li class="breadcrumb-item active" aria-current="page">Охрана атмосферного воздуха</li>
  </ol>
</nav>
<div class="text_header">
    <h2>Охрана атмосферного воздуха</h2>
</div>
<h3 style="color: #0088c2">Общая информация об учебном курсе</h3>
<br>
<p><strong>Выгоды от заказа этой услуги</strong></p>
<li>Слушатели могут получить полезную информацию от ведущих специалистов АО «НИИ Атмосферы», ГГО им. А.И.
    Воейкова, РГГМУ, государственных органов, задать им интересующие вопросы.
</li>
<li>Все слушатели обеспечиваются комплектом информационно-справочных материалов по тематике курса.</li>
<li>Атмосфера обучения способствует обмену опытом между специалистами в области охраны окружающей среды.</li>
<li>Вам предоставляется уникальная возможность пополнить свои знания, обменяться опытом с Вашими коллегами и
    посетить один из самых красивых городов мира – Санкт-Петербург.
</li>
<br>
<p><strong>Почему АО «НИИ Атмосфера»?</strong></p>
<li>АО «НИИ Атмосфера» более 25 лет является ведущим научно-методическим центром в сфере нормирования выбросов
    вредных веществ в атмосферу. В институте работают самые опытные и компетентные специалисты.
</li>
<li>Вся нормативная и методическая база в области охраны атмосферного воздуха создана при участии специалистов
    НИИ Атмосфера. Институт продолжает активно участвовать в её создании. В НИИ Атмосфера накоплен большой объём
    информации, в том числе по применению методик определения выбросов (расчетным и инструментальным).
</li>
<br>
<p><strong>Краткое содержание курса:</strong></p>
<p><strong>Основы законодательства в области охраны атмосферного воздуха в Российской Федерации</strong></p>
<li>Федеральное законодательство в области охраны атмосферного воздуха</li>
<li>Система организации государственного управления в области охраны атмосферного воздуха</li>
<li>Общие принципы организации деятельности в области охраны атмосферного воздуха</li>
<li>Основные требования, предъявляемые к индивидуальным предпринимателям и юридическим лицам в области охраны
    атмосферного воздуха
</li>
<br>
<p><strong>Нормирование выбросов загрязняющих веществ в атмосферный воздух</strong></p>
<li>Нормативы выбросов вредных (загрязняющих) веществ в атмосферный воздух (ПДВ) и (ТНВ). Инвентаризация
    выбросов вредных (загрязняющих) веществ в атмосферный воздух и их источников
</li>
<li>Требования к установлению предельно допустимых нормативов выбросов (ПДВ), лимитов выбросов (ВСВ) предприятия
    и технических нормативов выбросов (ТНВ)
</li>
<li>Инвентаризация выбросов вредных (загрязняющих) веществ в атмосферный воздух и их источников</li>
<li>Технические нормативы выбросов загрязняющих веществ в атмосферный воздух и их применение в воздухоохранной
    деятельности предприятий
</li>
<li>Порядок разработки проектов нормативов ПДВ загрязняющих веществ в атмосферный воздух</li>
<li>Использование экологических нормативов качества атмосферного воздуха при принятии решений об ограничении
    выбросов загрязняющих веществ с целью сохранения естественных экологических систем, природных ландшафтов и
    природных комплексов
</li>
<br>
<p><strong>Лабораторно-аналитическое обеспечение воздухоохранной деятельности</strong></p>
<li>Выбросы в атмосферу (агрегатное состояние веществ, количество веществ, мешающие компоненты, диапазон
    концентраций, температура, давление, скорость, влажность)
</li>
<li>Разграничение инструментальных и расчетных методов определения величин промышленных выбросов</li>
<li>Приоритет прямых методов, использующих измерения концентрации вредных веществ и объемов газовоздушной
    смеси
</li>
<li>Технические средства контроля промышленных выбросов (измерение аэродинамических параметров выбросов,
    концентраций загрязняющих веществ, газоанализаторы (оптические, хемилюминесцентные, электрохимические),
    передвижные станции, государственный реестр средств измерений)
</li>
<li>Лабораторно-аналитические методы измерения концентраций загрязняющих веществ в промышленных выбросах
    (фотометрия и спектрофотометрия, атомно-абсорбционная спектрометрия, потенциометрия, вольтамперометрия,
    хроматография (газовая хроматография, высокоэффективная жидкостная хроматография)
</li>
<li>Основные способы отбора газовых проб (жидкостные поглотители, газовые пипетки, стеклянные шприцы или
    полимерные емкости, пленочные сорбенты, твердые сорбенты)
</li>
<li>Порядок рассмотрения, согласования и допуска к применению методик выполнения измерений концентраций
    загрязняющих веществ в промышленных выбросах
</li>
<br>
<p><strong>Управление качеством атмосферного воздуха</strong></p>
<li>Организация и осуществление воздухоохранной деятельности на предприятии</li>
<li>Государственный учет вредных воздействий на атмосферный воздух и их источников. Федеральное государственное
    статистическое наблюдение № 2-тп (воздух) «Сведения об охране атмосферного воздуха». Инструкция по
    заполнению формы № 2-тп (воздух).
</li>
<li>Права и обязанности индивидуальных предпринимателей и юридических лиц при осуществлении государственного
    контроля
</li>
<li>Ответственность за нарушение законодательства Российской Федерации в области охраны атмосферного воздуха
</li>
<li>Государственный контроль за охраной атмосферного воздуха. Права и обязанности государственных инспекторов по
    охране природы, осуществляющих контроль за охраной атмосферного воздуха.
</li>
<li>Проблема переноса загрязняющих веществ на большие расстояния</li>
<li>Международная деятельность в области трансграничного загрязнения</li>
<li>Методические подходы к решению проблемы межрегионального атмосферного загрязнения для субъектов Российской
    Федерации
</li>
<li>Математическое моделирование переноса и выпадения примесей в контексте трансграничного загрязнения</li>
<li>Концепция критических нагрузок</li>
<li>Схема принятия управленческих решений при межрегиональном загрязнении</li>
<li>Порядок организации и проведения сводных расчетов загрязнения атмосферы и применение их результатов в
    воздухоохранной деятельности
</li>
<br>
<p><strong>Экономический механизм охраны атмосферного воздуха</strong></p>
<li>Плата за загрязнение окружающей природной среды выбросами вредных (загрязняющих) веществ в атмосферный
    воздух
</li>
<br>
<p><strong>Специальные вопросы</strong></p>
<li>Определение перечня источников и вредных веществ, подлежащих нормированию, категории предприятия</li>
<li>Перечень и коды веществ, загрязняющих атмосферный воздух</li>
<li>Методы и технические средства, применяемые для снижения выбросов ЗВ в атмосферу</li>
<li>Применение расчетных методик нормирования выбросов ЗВ (пыли) для неорганизованных источников загрязнения
    атмосферного воздуха
</li>
<li>Методическая и справочная литература АО “НИИ Атмосфера” по проблеме нормирования и охраны атмосферного
    воздуха. Порядок разработки, согласования, утверждения, применения
</li>
<li>Особенности инвентаризации и нормирования выбросов ЗВ от автотранспорта, дорожно-строительных машин и
    автозаправочных станций
</li>
<li>Особенности инвентаризации и нормирования выбросов ЗВ от котельных и тепловых электростанций</li>
<li>Определение запахов от источников загрязнения атмосферы</li>
<br>
<p><a href="{% static 'main/documents/programma-ohrana-atmosfernogo-vozduha-2017-g..pdf' %}"><strong>Программа учебного
    курса</strong></a></p>
<p><a href="{% static 'main/documents/plan-grafik-zanyatiy-po-uk-ohrana-atmosfernogovozduha.pdf' %}"><strong>План-график
    занятий по учебному курсу</strong></a></p>
{% endblock %}
