{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Автоматический непрерывный контроль промышленных выбросов — ОПП "Омский ЛИЦ НИИ Атмосфера"
{% endblock %}

{% block content %}
&nbsp;
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'training' %}">Учебный центр</a></li>
    <li class="breadcrumb-item active" aria-current="page">Автоматический непрерывный контроль промышленных выбросов</li>
  </ol>
</nav>
<div class="text_header">
    <h2>Автоматический непрерывный контроль промышленных выбросов</h2>
</div>
<h3 style="color: #0088c2">Общая информация об учебном курсе</h3>
<br>
<p><strong>Актуальность курса:</strong></p>
<p>В соответствии с <strong>Федеральным законом от 21.07.2014 года № 219-ФЗ </strong>«О внесении изменений в
    Федеральный закон «Об охране окружающей среды» и отдельные законодательные акты Российской Федерации» на
    объектах I категории стационарные источники промышленных выбросов должны быть оснащены автоматическими
    средствами измерения и учёта объёма или массы выбросов вредных (загрязняющих) веществ.</p>
<p>Контроль промышленных выбросов станет <strong>ОБЯЗАТЕЛЬНЫМ</strong> с 1 января 2018 года.</p>
<p>Гибкость проведения обучения — лабораторные работы могут быть пройдены дистанционно онлайн.</p>
<p>Обратная связь — рекомендации НИИ Атмосфера по построению конкретной системы контроля после проведения
    обучения.</p>
<p><strong>Кому необходимо обучение?</strong></p>
<p>Cпециалистам инструментального контроля концентраций газов и пыли и специалистам АСУ, стремящимся&nbsp; овладеть
    техникой и методами автоматического непрерывного контроля, получить знания и навыки необходимые для построения и
    эксплуатации системы автоматического непрерывного контроля выбросов вредных веществ в атмосферу.</p>
<p><strong>Почему стоит посетить семинар:</strong></p>
<p>В рамках курса предлагается глубокое изучение систем автоматического непрерывного контроля промышленных выбросов,
    методов и средств газового и пылевого анализа, методов и средств измерений скорости газового потока, систем
    сбора и обработки информации.</p>
<p>В результате слушатели будут понимать цели создания системы контроля промышленных выбросов, научатся правильному
    выбору средств измерений и их метрологического обеспечения с учетом требований нормативных документов.</p>
<p>Слушатели смогут объяснить принципы работы и отличия различных систем контроля промышленных выбросов а также
    понимать принципы работы аналитического оборудования, достоинства и недостатки различных методов измерений и
    способов устранения проблем, понимать принципы работы оборудования для пробоотбора, пробоподготовки, калибровки
    и обнуления, понимать логику управления автоматикой системы контроля промышленных выбросов, понимать принципы
    верификации данных полученных при помощи системы контроля промышленных выбросов.</p>
<p><strong>В рамках курсов:</strong></p>
<li>Лекции и лабораторные работы.</li>
<li>Интерактивное взаимодействие преподавателя и слушателей.</li>
<li>Групповая работа в режиме моделирования реальной системы контроля выбросов промышленного предприятия.</li>
<br>
<p><strong>Требования к начальным знаниям:</strong></p>
<p>Необходимый уровень начальных знаний должен быть обеспечен знаниями элементарных принципов анализа проб газа и
    пыли (для специалистов экологической службы) и АСУ предприятия (для специалистов отдела АСУ).</p>
<p><strong>О чем пойдет речь?</strong></p>
<li>Требования ФЗ 219 и ISO 10396.</li>
<li>Системы автоматического контроля выбросов промышленных предприятий.</li>
<li>Методы автоматического контроля содержания газовых компонентов в выбросах.</li>
<li>Методы автоматического контроля содержания аэрозольных компонентов в выбросах.</li>
<li>Пробоотборные устройства и устройства подготовки пробы.</li>
<li>Методы измерений скорости газового потока в выбросах.</li>
<li>Методы сбора и обработки информации.</li>
<br>
<p><a href="{% static 'main/documents/plan-grafik-zanyatiy-po-uk-avtom-nepreryivnyiy-kontrol.pdf' %}"><strong>План-график
    занятий по учебному курсу</strong></a></p>
{% endblock %}
