{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Охрана окружающей среды и экологический менеджмент — ОПП "Омский ЛИЦ НИИ Атмосфера"
{% endblock %}

{% block content %}
&nbsp;
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'training' %}">Учебный центр</a></li>
    <li class="breadcrumb-item active" aria-current="page">Охрана окружающей среды и экологический менеджмент</li>
  </ol>
</nav>
<div class="text_header">
    <h2>Охрана окружающей среды и экологический менеджмент</h2>
</div>
<h3 style="color: #0088c2">Общая информация об учебном курсе</h3>
<br>
<div class="contact-txt">
    <p><strong>Выгоды от заказа этой услуги</strong></p>
    <li>Курс читают преподаватели со стажем работы более 20 лет. Преподаваемые дисциплины: охрана окружающей среды,
        охрана атмосферного воздуха, обращение с отходами, охрана водных объектов, экологическая экспертиза,
        экологический менеджмент.
    </li>
    <li>Все слушатели обеспечиваются комплектом информационно-справочных материалов по тематике курса.</li>
    <li>Атмосфера обучения способствует обмену опытом между специалистами в области охраны окружающей среды и
        экологического менеджмента.
    </li>
    <li>Вам предоставляется уникальная возможность пополнить свои знания, обменяться опытом с Вашими коллегами и
        посетить один из самых красивых городов мира – Санкт-Петербург.
    </li>
    <br>
    <p><strong>Программа курса включает следующие темы:</strong></p>
    <li>Российское законодательство в области экологической безопасности и охраны окружающей среды.</li>
    <li>Система государственного управления в области охраны окружающей среды. Государственный экологический
        контроль действующих предприятий.
    </li>
    <li>Требования, предъявляемые законодательством в области охраны атмосферного воздуха.</li>
    <li>Требования, предъявляемые законодательством в области рационального использования и охраны водных
        объектов.
    </li>
    <li>Требования, предъявляемые законодательством в области обращения с отходами.</li>
    <li>Плата за негативное воздействие на окружающую среду.</li>
    <li>Организация производственного экологического контроля на предприятиях.</li>
    <li>Статистическая отчетность предприятия по охране окружающей среды.</li>
    <li>Система документации по вопросам охраны окружающей среды на предприятии.</li>
    <li>Государственный экологический надзор.</li>
    <li>Административная и уголовная ответственность за экологические правонарушения и экологические преступления.
    </li>
    <li>Порядок рассмотрения дела об административном правонарушении в области охраны окружающей среды.</li>
    <li>Общие требования в области охраны окружающей среды при размещении, проектировании, строительстве,
        реконструкции, вводе в эксплуатацию, эксплуатации, консервации и ликвидации зданий, строений, сооружений и
        иных объектов, оказывающих и способных оказать негативное воздействие на окружающую среду.
    </li>
    <li>Цели и задачи экологического менеджмента на предприятии.</li>
    <br>
    <p><a href="{% static 'main/documents/plan-grafik-zanyatiy-po-oos-i-ekologicheskiy-menedzhment.pdf' %}"><strong>План-график
        занятий по учебному курсу</strong></a></p>
</div>
{% endblock %}
