{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Услуги — ОПП "Омский ЛИЦ НИИ Атмосфера"
{% endblock %}

{% block content %}
<div class="text_header">
    <h2>Омский лабораторный измерительный центр</h2>
</div>
<div class="contact-txt">
    <p><strong>Аналитическая лаборатория Обособленного производственного подразделения «Омский лабораторный
        измерительный центр НИИ Атмосфера»</strong></p>
    <p>Адрес места осуществления деятельности: 644040, Омская обл., г. Омск, пр-кт Губкина, 1. Здание лаборатории
        cангигиены (литера СЛР)</p>
    <p>Уникальный номер записи об аккредитации в реестре аккредитованных лиц: RA.RU.21НК68</p>
    <p>Руководитель обособленного производственного подразделения – Заместитель генерального директора АО «НИИ
        Атмосфера» — начальник ОПП Шмойлова Надежда Васильевна</p>
    <p>Руководитель аккредитованного лица – начальник аналитической лаборатории Бездитко Лариса Алексеевна</p>
    <p><strong>E</strong><strong>—</strong><strong>mail</strong><strong>:</strong>&nbsp;<a
            href="mailto:omsk@nii-atm.ru">omsk@nii-atm.ru</a></p>
    <p>&nbsp;</p>
    <p><a href="{% static 'main/documents/attestat-akkreditaczii-ra.ru_.21nk68.pdf' %}"><strong>Аттестат
        аккредитации
        RA.RU.21НК68</strong></a></p>
    <p><a href="{% static 'main/documents/oblast-akkreditaczii-ra.ru_.21nk68-ot-20.12.2019.pdf' %}"><strong>Область
        аккредитации RA.RU.21НК68 от 20.12.2019</strong></a></p>
    <p>
        <a href="{% static 'main/documents/rasshirenie-oblasti-akkreditaczii-ra.ru_.21nk68-ot-20.12.2019.pdf' %}"><strong>Расширение
            области аккредитации RA.RU.21НК68 от 20.12.2019</strong></a></p>
    <p>
        <a href="{% static 'main/documents/sokrashhenie-oblasti-akkreditaczii-ra.ru_.21nk68-ot-07.11.2021.pdf' %}"><strong>Сокращение
            области аккредитации RA.RU.21НК68 от 07.11.2021</strong></a></p>
    <p>&nbsp;</p>
    <p><strong>Направления деятельности:</strong></p>
    <ul style="padding-left: revert;">
        <li>Мониторинг загрязняющих веществ в атмосферном воздухе;</li>
        <li>Исследования воздуха рабочей зоны на наличие вредных (загрязняющих) веществ;</li>
        <li>Измерения концентраций промышленных выбросов в атмосферный воздух и параметров;</li>
        <li>Контроль воздуха непроизводственных помещений;</li>
        <li>Исследования воды природной, питьевой и сточной, воды производственной тепловых электростанций;</li>
        <li>Измерения на рабочих местах шума, вибрации и электромагнитного излучения;</li>
        <li>Измерения физических факторов на территории жилой застройки, в жилых и общественных зданиях, на границе
            санитарно-защитной зоны (СЗЗ);
        </li>
        <li>Определение эффективности работы газоочистных установок (ГОУ);</li>
        <li>Выполнение план-графиков контроля за соблюдением нормативов ПДВ, выполнение производственного
            экологического контроля;
        </li>
        <li>Проведение измерений концентраций загрязняющих веществ в воздухе рабочей зоны.</li>
    </ul>
    <p>&nbsp;</p>
    <p><a href="{% static 'main/documents/forma-zayavki-na-vypolnenie-rabot.docx' %}"><strong>Форма заявки на
        выполнение
        работ</strong></a></p>
    <p><a href="{% static 'main/documents/forma-ankety-udovletvorennosti-zakazchika.docx' %}"><strong>Форма
        анкеты
        удовлетворенности заказчика</strong></a></p>
    <p><a href="{% static 'main/documents/czeli-v-oblasti-kachestva-na-2022-god.pdf' %}"><strong>Цели в области
        качества на
        2022 год</strong></a></p>
</div>
{% endblock %}
