{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Учебный центр — ОПП "Омский ЛИЦ НИИ Атмосфера"
{% endblock %}

{% block content %}
<div class="text_header">
    <h2>Учебный центр</h2>
</div>
<p>Более 25 лет НИИ Атмосфера является ведущим научно-методическим центром в Российской Федерации и СНГ по вопросам
    охраны атмосферного воздуха. Специалисты НИИ Атмосфера участвовали в разработке большинства нормативно-методических
    документов по нормированию выбросов. Институт и сегодня занимает передовые позиции в современной экологической
    науке, активно взаимодействует с государственными органами власти, ведущими производителями природоохранного
    оборудования и систем, зарубежными специалистами и учеными.</p>
<p>Высококвалифицированные сотрудники АО НИИ «Атмосферы» и приглашенные лекторы готовы поделиться с Вами своими
    знаниями и опытом, ответить на Ваши вопросы и сориентировать в направлениях дальнейших улучшений и развития в
    области охраны окружающей среды.</p>
<div class="text_header">
    <h3>АО «НИИ Атмосферы» предлагает обучение по следующим курсам:</h3></div>
<p><a style="font-size: large" href="{% url 'air' %}"><strong>Охрана атмосферного воздуха</strong></a></p>
<p>Стоимость: 38 280 руб., включая НДС 20%<br>
    Документ об окончании: Удостоверение</p>
<strong>Дата проведения:</strong><br>
<li>30 мая — 03 июня 2022 г.</li>
<li>3 — 7 октября 2022 г.</li>
<br>
<div class="line"></div>
<br>
<p><a style="font-size: large" href="{% url 'environment' %}"><strong>Охрана окружающей среды и экологический
    менеджмент</strong></a></p>
<p>Стоимость:<br>
    Документ об окончании: Сертификат</p>
<strong>Дата проведения:</strong><br>
<p>Обучение проводится по мере комплектации групп.</p>
<div class="line"></div>
<br>
<p><a style="font-size: large" href="{% url 'control' %}"><strong>Автоматический непрерывный контроль промышленных
    выбросов</strong></a></p>
<p>Стоимость:<br>
    Документ об окончании: Сертификат</p>
<strong>Дата проведения:</strong><br>
<p>Обучение проводится по мере комплектации групп.</p>
<div class="line"></div>
<br>
<h5 style="color: #0088c2">Место проведения занятий</h5>
<p>Новороссийская ул., д. 28, корп. 2, аудитория 11. «Центр подготовки руководителей и специалистов по экологической
    безопасности».</p>
<div class="line"></div>
<br>
<h5 style="color: #0088c2">Проживание во время обучения</h5>
<p>На время обучения для Вас может быть забронирован номер в гостинице.</p>
<strong>Проживание не входит в стоимость обучения.</strong>
<br>
<p>1. Гостиница «Орбита» (пр. Непокоренных, 4)</p>
<p>2. Гостиница «Мармара» (ул. Новороссийская, 26, корп. 2)</p>
<div class="line"></div>
<br>
<h5 style="color: #0088c2">Оплата обучения</h5>
<p>На основании <a href="{% static 'main/documents/anketa-kursyi-2020.doc' %}" target="_blank" rel="noopener">
    <strong>заполненной анкеты</strong></a> участнику направляется договор и счет на оплату.</p>
<p>Анкеты принимаются не позднее, чем за 30 дней до начала обучения.</p>
<div class="line"></div>
<br>
<h5 style="color: #0088c2">По вопросам обучения</h5>
<p>Обращайтесь по телефону <strong>(812) 297-45-14</strong> или электронной почте <strong><a
        href="mailto:uc@nii-atm.ru">uc@nii-atm.ru</a></strong></p>
<p>Снопковская Ольга Владимировна<br> Степанова Дина Вячеславовна</p>
{% endblock %}
